body {
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.entete {
    margin-top: 20px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
    padding-left: 10px;
    max-width: 185px;
    height: auto;
    border-radius: 25px;
}

.cv {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    background: linear-gradient(orange, rgba(255, 255, 255, 0.884));
    border-radius: 50px 50px 50px 50px;
}

.wrapper {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}