body {
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tete {
    margin-bottom: 40px;
    margin-top: 20px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
}

.contact {
    font-size: medium;
    border-left: 5px solid orangered;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: lightgrey;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
}

img {
    padding-left: 10px;
    max-width: 185px;
    height: auto;
    border-radius: 25px;
}

h3 {
    color: orangered;
    font-weight: bolder;
}

h4 {
    font-weight: bold;
}

p {
    color: rgb(39, 38, 38);
    font-style: italic;
}

.cv {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background: white;
    border-radius: 50px 50px 50px 50px;
}

.wrapper {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
}

.pro {
    font-size: medium;
    border-left: 5px solid orangered;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: lightgrey;
}

.comp {
    font-size: medium;
    border-left: 5px solid orangered;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: lightgrey;
}

.exp {
    font-size: medium;
    border-left: 5px solid orangered;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: lightgrey;
}